.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.recipe {
  background-color: #f7f7cc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.recipe:hover {
  background-color: #ccdaf7;
}

.recipe h2 {
  margin-top: 0;
}

.recipe p {
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.form-group textarea {
  height: 80px;
}

.form-group button {
  background-color: #45a049;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #45a049;
}

.error {
  color: red;
  margin-top: 5px;
}

.button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.home-button {
  background-color: #45a049;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.home-button:hover,
button[type="submit"]:hover {
  background-color: #45a049;
}

.home-button:focus,
button[type="submit"]:focus {
  outline: none;
}

.form-group .submit-button {
  background-color: #45a049;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.form-group .home-button {
  background-color: #45a049;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px; /* Add margin to separate buttons */
}